button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 380px;
  height: 52px;
  margin: 24px auto 0;
  border: 0;
  border-radius: 16px;
  padding: 16px 24px;

  font-size: 14px;
  font-weight: 600;

  color: #ffffff;
  background-color: #3f5bea;
  cursor: pointer;

  box-shadow: 0 10px 15px -3px rgba(47, 74, 203, 0.2),
    0 4px 6px -4px rgba(47, 74, 203, 0.2);

  transition: all 0.2s ease;
}

button:hover {
  background-color: #263fb3;
}
